@import "./font.scss";
body {
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
    font-size:$base-font-size;
    min-height: 900px;
}
ul{
  padding: 0;
  margin:0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color:black;
}