@import "./color.scss";
//nav
$nav-background:$primary-color;
$header-height-large:76px;
$header-height:52px;
$logo-height:36px;
$nav-link-letter-space:6px;
$nav-link-padding:5px;
$nav-link-color:$white-color;
$nav-link-hover-color:$accient-color;
$nav-link-active-color:$nav-link-hover-color;

.header{
    background-color: #fff;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height: $header-height-large;
    border-bottom:1px rgba(0, 0, 0, 0.975) solid;
    .header_container{
       display: flex;
       flex-direction: row;
       width:100%;
       max-width:970px;
       margin-left:auto;
       margin-right:auto;
       padding-top: ($header-height-large - $logo-height)/2;
       padding-bottom: ($header-height-large - $logo-height)/2;
       .logo{
        display:flex;
        flex:1;
        height:$logo-height;
        .logo_img{
          
        }
        .logo_divider{
  
        }
        .logo_word{
  
        }
      }
      .search_form{
        .search_text_placeholder{
          display: flex;
          justify-content: center;
          .search_icon_small{
  
          }
          .search_placeholder{
            
          }
        }
        .search_text{
          display: none;
          .search_icon_small{
  
          }
          .search_text{
  
          }
          .close_icon{
  
          }
        }
      }
      .nav_user{
        display: flex;
        flex:1;
        flex-direction: row-reverse;
        .login_btn{
          display: flex;
         // line-height: $logo-height;
          color:white;
          background-color:$primary-color;
          margin: 4px 9px;
          border-radius: 8px;
          letter-spacing: 6px;
        }
        .register_btn{
          display: flex;
          line-height: $logo-height;
        }
      }
    }

  }